*{
    box-sizing: border-box;  
}
h2 {
color: red;
text-decoration: lavender;
font-style: normal;
font-size: 0pc;
text-transform: uppercase;
}

.box {
vertical-align: top;
position: relative;
display: inline-block;
width: 200px;
height: 300px;
background-color: green;
padding-left: 20px;
padding-top: 20px;
/* border-width: 3px;
border-style: solid;
border-color: black; */
border: 3px dashed red;
margin: 20px;
z-index: 3;
}

nav {
    position: inherit;
    left: 0;
    top: 150px;
}

.red {   
    background-color: red;
    width: 50vw;
    height: 30vh;
    font-size: 30px;
    
     }

    .exapmle {
        position: relative;
}
 img{
     display: block;
     margin: 0 auto;
     width: 500px;
 }


